baseURL = 'https://it-women-esbjerg.github.io/it-women-esbjerg-website/'
languageCode = 'en-us'
title = 'IT Women Esbjerg'

sectionPagesMenu = 'main'

[build]
  [build.buildStats]
    enable = true
  [[build.cachebusters]]
    source = 'assets/notwatching/hugo_stats\.json'
    target = 'css'
  [[build.cachebusters]]
    source = '(postcss|tailwind)\.config\.js'
    target = 'css'
[module]
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    disableWatch = true
    source = 'hugo_stats.json'
    target = 'assets/notwatching/hugo_stats.json'
[caches]
  [caches.images]
    dir = ':cacheDir/images'