<div class="p-6 md:p-8 w-full">
    {{ $futureEvents := partial "event-filter.html" (dict "context" . "type" "future") }}
    {{ if gt (len $futureEvents) 0 }} {{ range $futureEvents }}
    <a href="{{ .Permalink }}"
        class="flex justify-between items-center py-4 border-b border-secondary last:border-b-0 hover:bg-white/50 transition-colors rounded px-4 -mx-4">
        <div class="text-primary font-medium text-sm md:text-base whitespace-nowrap">
            {{ with .Params.event_start }} {{ dateFormat "Mon, Jan 2" . }} {{ end }}
        </div>
        <div class="text-primary flex-1 px-4 md:px-8">{{ .Title }}</div>
        <div class="text-primary font-medium text-sm md:text-base">
            {{ with .Params.event_start }} {{ dateFormat "15:04" . }} {{ end }}
        </div>
    </a>
    {{ end }} {{ else }}
    <div class="text-center py-8 border border-secondary rounded-lg">
        <p class="mb-4">
            There are currently no upcoming events, but stay tuned for future updates!
        </p>
        <p>
            In the meantime, feel free to check out our
            <a href="/events" class="text-primary underline">past events</a> and join
            our newsletter to stay informed about all the exciting things we have
            planned.
        </p>
    </div>
    {{ end }}
</div>