<footer class="bg-dark-pink text-white px-2 md:px-4 lg:px-6 py-6">
    <div class="flex justify-between items-start">

        <!-- Logo TODO: get svg -->
        <img class="max-w-32 sm:max-w-48 md:max-w-32 lg:max-w-3xs h-auto object-contain invert" src="/images/logo.png"
            alt="Logo">

        <!-- Contact -->
        <ul class="flex flex-col">
            <span class="font-bold uppercase">Contact Us</span>
            <li class="flex items-center gap-2">
                <svg class="w-4 h-4 md:w-6 md:h-6">
                    <use xlink:href="#map-pin"></use>
                </svg>
                <span>
                    Esbjerg, Denmark
                </span>

            </li>
            <li class="flex items-center gap-2">
                <svg class="w-4 h-4 md:w-6 md:h-6">
                    <use xlink:href="#linkedin"></use>
                </svg>
                <a href="https://www.linkedin.com/company/it-women-esbjerg">IT Women Esbjerg</a>

            </li>
            <li class="flex items-center gap-2">
                <svg class="w-4 h-4 md:w-6 md:h-6">
                    <use xlink:href="#mail"></use>
                </svg>
                <a href="mailto:itwomenesbjerg@gmail.com">itwomenesbjerg@gmail.com</a>

            </li>

        </ul>

        <!-- Newsletter subscription form -->
        <form class="hidden md:flex flex-col gap-1 lg:gap-2 max-w-sm lg:max-w-md text-white">
            <p class="text-white">Subscribe to our fantastic newsletter and be updated about all
                the events that are coming
            </p>
            <div class="flex gap-4 lg:gap-8">
                <input type="email" name="email" placeholder="Your email address" required
                    class="flex-1 sm:max-w-md px-4 py-3 rounded-md border-2 border-white bg-white text-dark-pink placeholder-dark-pink/70 focus:outline-none focus:border-dark-pink">
                <button type="submit"
                    class="bg-light-pink font-semibold rounded-md px-6 py-3 hover:bg-opacity-90 transition-all whitespace-nowrap disabled:opacity-50 disabled:cursor-not-allowed">Subscribe</button>
            </div>
            <div class="flex gap-2 lg:gap-4 items-start">
                <input id="newsletter-consent" name="consent" type="checkbox" required class="mt-1 accent-light-pink">
                <label for="newsletter-consent">
                    I agree to receive updates from IT Women Esbjerg.
                </label>
            </div>
        </form>
    </div>

    <hr class="my-2">
    <div class="flex justify-between">
        <span>Copyright © 2025 IT Women Esbjerg</span>
        <a>Privacy Policy</a>
    </div>
</footer>