<nav class="w-full flex justify-between px-2 md:px-4 lg:px-6 mx-auto max-w-7xl">
    <div class="w-full flex justify-between items-center">
        <a href="/">
            <svg class="max-w-32 md:max-w-48 lg:max-w-3xs text-primary">
                <use xlink:href="#logo-horizontal" />
            </svg>
        </a>

        <ul class="flex justify-evenly gap-14 text-accent">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/events/">Events</a>
            </li>
            {{/* TODO: uncomment when pages are ready <li>
                <a href="/about/">About Us</a>
            </li>
            <li>
                <a href="/contact/">Contact</a>
            </li> */}}
        </ul>
    </div>
</nav>