<nav class="w-full flex justify-between px-2 md:px-4 lg:px-6">
    <div class="w-full flex justify-between items-center">
        <a href="/">
            <img class="max-w-32 md:max-w-48 lg:max-w-3xs" src="/images/logo.png" alt="Logo">
        </a>

        <ul class="flex justify-evenly gap-14 text-dark-blue">
            <li>
                <a href="/events/">Events</a>
            </li>
            <li>
                <a href="/about/">About Us</a>
            </li>
            <li>
                <a href="/contact/">Contact</a>
            </li>
        </ul>
    </div>
</nav>