@import "tailwindcss";
@plugin '@tailwindcss/typography';
@source "hugo_stats.json";

@theme {
  --color-background: #f4ebda;
  --color-accent: #0b1956;
  --color-primary: #f13492;
  --color-secondary: #f3b5c5;
  --color-background-alt: #faf6ef;

  --font-sans: "Poppins", sans-serif;
}

.wave-background {
  background-image: url("../images/svg/wave-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@import "calendar.css";

.content-container {
  @apply w-full px-4 sm:px-6 mx-auto max-w-7xl;
}

.btn {
  @apply font-semibold px-1.5 py-1.5 md:px-4 md:py-2.5 rounded text-center transition-all duration-300 cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed hover:opacity-90;
}

.btn-accent {
  @apply bg-accent text-white hover:bg-accent/90;
}

.btn-accent-outline {
  @apply text-accent font-semibold border-accent border hover:bg-accent/10;
}
