@import "tailwindcss";
@source "hugo_stats.json";

@theme {
  --color-background: #f4ebda;
  --color-accent: #0b1956;
  --color-primary: #f13492;
  --color-secondary: #f3b5c5;

  --font-sans: "Poppins", sans-serif;
}

.wave-background {
  background-image: url("/images/wave-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
