<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{{ .Title }}</title>

    {{ with (templates.Defer (dict "key" "global")) }}
    {{ partial "css.html" . }}
    {{ end }}

    <link rel="icon" href="{{ "favicon.ico" | relURL }}">
</head>

<body class="flex flex-col bg-background mx-auto max-w-7xl text-accent min-h-screen">

    {{ partial "header.html" . }}
    {{ partial "svg.html" . }}
    <main class="grow">
        {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" .}}

    <!-- FullCalendar JS -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>
    <script src="{{ " js/script.js" | urlize | relURL}}" type="text/javascript"></script>
    <script src="{{ " js/gallery.js" | urlize | relURL}}" type="text/javascript"></script>
    <script src="{{ " js/calendar.js" | urlize | relURL}}" type="text/javascript"></script>
    <script type="module" src="{{ " js/newsletter.js" | urlize | relURL}}"></script>
    <script type="module" src="{{ " js/newsletter-main.js" | urlize | relURL}}"></script>
    <script type="module" src="{{ " js/newsletter-footer.js" | urlize | relURL}}"></script>
</body>

</html>