{{ define "main" }}

<article class="my-16 md:my-32 w-full">
	<!-- Hero Section -->
	<section class="flex justify-between items-center mb-16 px-4 lg:px-6">
		<div class="flex-2 flex flex-col gap-5">
			<h1 class="text-4xl md:text-5xl lg:text-6xl uppercase font-extrabold">
				<span class="text-secondary">Preview</span>
				<span class="text-primary">IT</span><br>
				<span class="text-primary">Women Esbjerg</span>
				<span class="text-secondary">Events</span>
			</h1>
			<div class="md:text-lg lg:text-xl flex flex-col gap-4">
				<p>
					Join us for inspiring events, workshops, and networking opportunities! Whether you’re
					a student, professional, or simply passionate about tech, our events are designed to connect,
					empower, and support women in IT.
				</p>
				<p>
					From hands-on learning to social gatherings, there’s something for
					everyone—come be part of our
					vibrant community!
				</p>
			</div>
			<div class="flex gap-4 md:gap-8">
				<a href="/events" class="bg-accent text-white font-semibold px-1.5 py-1.5 md:px-4 md:py-2.5 rounded">See
					the
					next event</a>
			</div>
		</div>
		<div
			class="hidden sm:flex relative w-48 h-48 sm:w-64 sm:h-64 md:w-80 md:h-80 lg:w-96 lg:h-96 items-center justify-center">
			<!-- Backdrop -->
			<svg class="absolute inset-0 w-full h-full z-0 text-primary -scale-x-100">
				<use href="#hero-backdrop" />
			</svg>
			<!-- Hero image -->
			<svg class="text-background z-10 w-24 h-24 sm:w-32 sm:h-32 md:w-40 md:h-40 lg:w-48 lg:h-48">
				<use href="#calendar-icon" />
			</svg>
		</div>
	</section>

	<!-- All Events -->
	<section class="flex flex-col items-center">
		<!-- Events List -->
		<div class="md:w-2/3">
			{{ partial "event-list.html" . }}
		</div>

		<!-- Past Event Previews -->
		<ul class="mt-16 flex flex-col gap-12 w-full px-16">
			<!-- Fetch and sort past events by event_start date in descending order -->
			{{ $events := sort (where .Site.RegularPages "Section" "events") "Params.event_start" "asc" }}
			{{ range $events }}
			<li class="flex flex-col gap-4">
				<div class="flex flex-col md:flex-row w-full gap-4">
					<div class="flex flex-col">
						<a href="{{ .Permalink }}" class="flex flex-col">
							<p class="text-primary">
								{{ with .Params.event_start }} {{ dateFormat "2 Jan 2006" . }} {{ end }}
							</p>
							<h3 class="text-4xl font-semibold mb-4">{{ .Title }}</h3>
						</a>
						<p>
							{{ with .Params.summary }}{{ . }}{{ end }}
						</p>
					</div>
					<!-- Display the first image from the event's images parameter -->
					{{ with index .Params.images 0 }}
					<div class="flex flex-col">
						<img src="{{ .url }}" alt="{{ $.Title }}"
							class="w-32 h-32 md:w-48 md:h-48 lg:w-64 lg:h-64 object-cover rounded-lg ml-8"
							loading="lazy" />
					</div>
					{{ end }}
				</div>

				{{ with .Params.takeaways }}
				<div>
					<h4 class="text-2xl font-semibold mb-4">Takeaways</h4>
					<ul class="flex flex-wrap gap-4 w-full">
						{{ range . }}
						<li class="bg-background-alt p-4 rounded-lg max-w-2xs flex-1">{{ . }}</li>
						{{ end }}
					</ul>
				</div>
				{{ end }}
			</li>
			{{ end }}
		</ul>
	</section>
</article>
{{ end }}