{{ define "main" }}
<section class="mt-32">
	<!-- Page Header -->
	<div class="flex gap-4 items-center mb-8">
		<div class="w-12 h-12 md:w-16 md:h-16 lg:w-20 lg:h-20 relative flex items-center justify-center">
			<svg class="absolute inset-0 w-full h-full text-primary">
				<use href="#icon-backdrop" />
			</svg>
			<svg class="relative z-10 w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10 text-background">
				<use href="#calendar-icon" />
			</svg>
		</div>
		<h1 class="text-3xl md:text-4xl lg:text-5xl text-primary font-bold">All Events</h1>
	</div>

	<!-- Events List -->
	{{ partial "event-list.html" . }}

</section>
{{ end }}