{{ define "main" }}
<article class="mt-32 px-2 md:px-4 lg:px-6">
    <!-- Event Header -->
    <div class="my-8">
        <h1 class="text-4xl md:text-5xl text-primary font-bold mb-4">{{ .Title }}</h1>
        <div class="flex flex-col">
            <div class="flex items-center gap-2">
                <div class="flex items-center gap-2">
                    <svg class="w-5 h-5 text-primary">
                        <use href="#calendar-icon" />
                    </svg>
                    <span class="text-primary font-medium">
                        {{ with $.Params.event_start }} {{ dateFormat "Mon, Jan 2, 2006, 3:04 PM" . }} {{ end }}
                        {{ with $.Params.event_end }} - {{ dateFormat "3:04 PM" . }}{{ end }}
                    </span>
                </div>

            </div>


            <div class="flex items-center gap-2">
                <svg class="w-5 h-5 text-primary">
                    <use href="#map-pin" />
                </svg>
                <span class="text-primary font-medium"> {{ with $.Params.location }}{{ . }} {{ end }}</span>
            </div>
        </div>
    </div>

    <!-- Event Content -->
    <div class="prose prose-lg max-w-none mb-8">
        {{ .Content }}
    </div>

    <!-- Event Photos Grid -->
    {{ with .Params.images }}
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 my-8">
        {{ range . }}
        <div class="overflow-hidden rounded-lg shadow">
            <img src="{{ .url }}" alt="{{ .alt }}" class="w-full h-64 object-cover" loading="lazy">
        </div>
        {{ end }}
    </div>
    {{ end }}
</article>
{{ end }}