@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/grid";

/* Custom navbar styles */
.navbar-brand img {
	max-height: 40px;
	width: auto;
}
.navbar-nav .nav-link {
	font-weight: 500;
	margin-left: 1rem;
}
