{{ $allImages := slice }} {{ range (where .Site.RegularPages "Section" "events")
}} {{ range .Params.images }} {{ if .url }} {{ $allImages = $allImages | append
(dict "url" .url "alt" .alt "date" $.Date "eventTitle" $.Title "eventLink"
$.Permalink) }} {{ end }} {{ end }} {{ end }}
<script id="gallery-data" type="application/json">
  {{ $allImages | jsonify }}
</script>

<section class="mb-32 content-container">
  <!-- Section header -->
  <div class="flex gap-4 items-center mb-8">
    <div class="w-12 h-12 md:w-16 md:h-16 lg:w-20 lg:h-20 relative flex items-center justify-center">
      <svg class="absolute inset-0 w-full h-full text-primary">
        <use href="#icon-backdrop" />
      </svg>
      <svg class="relative z-10 w-6 h-6 md:w-8 md:h-8 lg:w-10 lg:h-10 text-background">
        <use href="#gallery" />
      </svg>
    </div>
    <h2 class="text-2xl md:text-3xl lg:text-4xl text-primary font-semibold">
      Gallery
    </h2>
  </div>

  <!-- Images -->
  <div class="flex mb-8">
    <button class="text-primary cursor-pointer disabled:cursor-not-allowed disabled:opacity-50" id="gallery-prev"
      disabled>
      <svg class="w-12">
        <use href="#arrow-left" />
      </svg>
    </button>
    <div class="relative grow h-64 md:h-80 md:max-w-6xl mx-auto overflow-hidden" id="gallery-images"></div>
    <button class="text-primary cursor-pointer disabled:cursor-not-allowed disabled:opacity-50" id="gallery-next">
      <svg class="w-12">
        <use href="#arrow-right" />
      </svg>
    </button>
  </div>

  <div class="flex flex-col md:flex-row justify-center items-center gap-4 lg:gap-8">
    <p class="text-primary text-center md:text-left">
      Interested in knowing more? Come join us for the next one!
    </p>

    <a href="/events" class="btn btn-accent-outline w-2/3 md:w-auto">
      View All Events
    </a>
  </div>
</section>